extends ../global.layout.pug

block append head
  title Wikipedia Viewer - Halil Ibrahim Sener

block content
  .container
    .row
      h1.text-center Wikipedia Viewer
      p.text-center
        a(href='https://codepen.io/hisener/full/zBZPmo', target='_blank')
          strong Same project with React
      p.text-center
        a(href='https://github.com/hisener/halilsener.com/blob/master/projects/wikipedia-viewer' target='_blank') (Source on github)
      hr
      .col-lg-9.col-md-8.col-sm-7
        input.form-control.query(type='search')
      .col-lg-3.col-md-4.col-sm-5.button-group.text-center
        button.btn.btn-default.search
          i.glyphicon.glyphicon-search
          | Search
        button.btn.btn-default.random
          i.glyphicon.glyphicon-random
          | Random
      .col-xs-12.results

block append foot
  link(rel='stylesheet', href='style.css')
  script(src='main.js')
