extends ../global.layout.pug

block append head
  title Halil Ibrahim Sener
  meta(name='description' content='My personal webpage and freeCodeCamp projects')
  meta(name='og:title' content='Halil Ibrahim Sener')
  meta(name='og:description' content='My personal webpage and freeCodeCamp projects')
  meta(name='og:image' content='http://halilsener.com/img/avatar.png')

block content
  -
    var portfolio = [
      { title: 'WebSocket Chat Example', image: 'img/ws-chat-example.png', demo: 'https://ws-chat-example.herokuapp.com/', code: 'https://github.com/hisener/ws-chat-example' },
      { title: 'Markdown Previewer', image: 'img/markdown-previewer.png', demo: 'https://hisener-markdown-previewer.herokuapp.com/', code: 'https://github.com/hisener/markdown-previewer' },
      { title: 'Wikipedia Viewer', image: 'img/wikipedia-viewer.png', demo: 'http://halilsener.com/wikipedia-viewer/', code: 'https://github.com/hisener/halilsener.com/tree/master/projects/wikipedia-viewer' },
      { title: 'Local Weather', image: 'img/local-weather.png', demo: 'http://halilsener.com/local-weather/', code: 'https://github.com/hisener/halilsener.com/tree/master/projects/local-weather' },
      { title: 'Random Quote Machine', image: 'img/random-quote-machine.png', demo: 'http://halilsener.com/random-quote-machine/', code: 'https://github.com/hisener/halilsener.com/tree/master/projects/random-quote-machine' },
      { title: 'Url Shortener Microservice', image: 'img/url-shortener.png', demo: 'https://hisener-url-shortener.herokuapp.com/', code: 'https://github.com/hisener/url-shortener' },
      { title: 'Header Parser Microservice', image: 'img/header-parser.png', demo: 'http://hisener-header-parser.herokuapp.com/', code: 'https://github.com/hisener/header-parser' },
      { title: 'Timestamp Microservice', image: 'img/timestamp-api.png', demo: 'https://hisener-timestamp-api.herokuapp.com/', code: 'https://github.com/hisener/timestamp-api' },
    ]

  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') hisener
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //- li.active
          li
            a(href='#top') About
          li
            a(href='#portfolio') Portfolio
          li
            a(href='#contact') Contact

  .container
    .row
      .col-sm-4.hidden-xs
        img.img-responsive.img-circle(src='img/avatar.png')
      .col-sm-8
        h1 Halil Ibrahim Sener
        h2 CS Student & Part-time Software Engineer
        div.description
          ul
            li Computer Science Student at #[a(href='http://www.cs.hacettepe.edu.tr/' target='_blank') Hacettepe] [13-18]
            li Part-time Software Engineer at #[a(href='https://www.opsgenie.com/' target='_blank') OpsGenie] [since Aug 2017]
            li Camper at freeCodeCamp
            li Former Part-time Software Engineer at MilSOFT
            li Ankara, Turkey

  #tech-stack.container
    .row
      .col-md-12
        h3 Technologies I actively use
        span.label.label-success JavaScript (ES6)
        span.label.label-success C
        span.label.label-success Java
        hr
        span.label.label-success Node.js
        span.label.label-success Express.js
        hr
        span.label.label-success MongoDB
        span.label.label-success MySQL
        hr
        span.label.label-success ReactJS
        span.label.label-success HTML5
        span.label.label-success Bootstrap
        span.label.label-success jQuery
        hr
        span.label.label-success Git
        span.label.label-success GitHub
        span.label.label-success npm
        span.label.label-success Heroku

  #contact
    .container
      h3 Contact
      a.btn.btn-default(href='https://github.com/hisener' target='_blank' role='button' data-toggle='tooltip' title='GitHub')
        i.fa.fa-github
      a.btn.btn-default(href='https://www.freecodecamp.com/hisener' target='_blank' role='button' data-toggle='tooltip' title='freeCodeCamp')
        i.fa.fa-free-code-camp
      a.btn.btn-default(href='https://www.linkedin.com/in/hisener' target='_blank' role='button' data-toggle='tooltip' title='LinkedIn')
        i.fa.fa-linkedin
      a.btn.btn-default(href='https://twitter.com/hi_sener' target='_blank' role='button' data-toggle='tooltip' title='Twitter')
        i.fa.fa-twitter
      a.btn.btn-default(href='mailto:hisener@yahoo.com' target='_blank' role='button' data-toggle='tooltip' title='Email')
        i.fa.fa-envelope-o

  #portfolio.container
    .row
      .col-md-12
        h3 Portfolio
      each item in portfolio
        .col-sm-6.col-md-4
          .thumbnail
            img(src=item.image)
            .caption
              h4= item.title
              p
                a.btn.btn-primary.btn-sm(href=item.demo target='_blank' role='button') Demo
                a.btn.btn-default.btn-sm(href=item.code target='_blank' role='button') Code

block append foot
  link(rel='stylesheet', href='style.css')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
  script(src='main.js')
