extends ../global.layout.pug

block append head
  title Halil Ibrahim Sener
  meta(name='description' content='My personal webpage and freeCodeCamp projects')
  meta(name='og:title' content='Halil Ibrahim Sener')
  meta(name='og:description' content='My personal webpage and freeCodeCamp projects')
  meta(name='og:image' content='http://halilsener.com/img/avatar.png')

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') hisener
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //- li.active
          li
            a(href='#top') About
          li
            a(href='#portfolio') Portfolio
          li
            a(href='#contact') Contact

  .container
    .row
      .col-sm-4.hidden-xs
        img.img-responsive.img-circle(src='img/avatar.png')
      .col-sm-8
        h1 Halil Ibrahim Sener
        h2 CS Student, Seeking Internship
        div.description
          ul
            li Computer Science Student @ Hacettepe (Ankara, Turkey)
            li Part-time Software Engineer @ MilSOFT Software Tech. (Ankara, Turkey)
            li Camper @ freeCodeCamp
            li Seeking Internship for Summer 2017

  #tech-stack.container
    .row
      .col-md-12
        h3 Technologies I actively use
        span.label.label-success JavaScript (ES6)
        span.label.label-success JavaScript
        span.label.label-success C
        span.label.label-success Java
        hr
        span.label.label-success Node.js
        span.label.label-success Express.js
        hr
        span.label.label-success MongoDB
        hr
        span.label.label-success ReactJS
        span.label.label-success HTML5
        span.label.label-success Bootstrap
        span.label.label-success jQuery
        hr
        span.label.label-success npm
        span.label.label-success Heroku
        span.label.label-success Git
        span.label.label-success GitHub
        span.label.label-success Subversion
        hr
        span I have used in past&nbsp;
        span.label.label-warning PHP
        span.label.label-warning MySQL
        span.label.label-warning CodeIgniter
        span.label.label-warning WordPress

  #portfolio.container
    .row
      .col-md-12
        h3 Portfolio
      .col-sm-6.col-md-4
        .thumbnail
          img(src='img/ws-chat-example.png')
          .caption
            h4 WebSockets Chat Example
            p
              a.btn.btn-primary.btn-sm(href='https://ws-chat-example.herokuapp.com/' target='_blank' role='button') Demo
              a.btn.btn-default.btn-sm(href='https://github.com/hisener/ws-chat-example' target='_blank' role='button') Code
      .col-sm-6.col-md-4
        .thumbnail
          img(src='img/markdown-previewer.png')
          .caption
            h4 Markdown Previewer
            p
              a.btn.btn-primary.btn-sm(href='https://hisener-markdown-previewer.herokuapp.com/' target='_blank' role='button') Demo
              a.btn.btn-default.btn-sm(href='https://github.com/hisener/markdown-previewer' target='_blank' role='button') Code
      .col-sm-6.col-md-4
        .thumbnail
          img(src='img/url-shortener.png')
          .caption
            h4 Url Shortener Microservice
            p
              a.btn.btn-primary.btn-sm(href='https://hisener-url-shortener.herokuapp.com/' target='_blank' role='button') Demo
              a.btn.btn-default.btn-sm(href='https://github.com/hisener/url-shortener' target='_blank' role='button') Code
      .col-sm-6.col-md-4
        .thumbnail
          img(src='img/header-parser.png')
          .caption
            h4 Header Parser Microservice
            p
              a.btn.btn-primary.btn-sm(href='http://hisener-header-parser.herokuapp.com/' target='_blank' role='button') Demo
              a.btn.btn-default.btn-sm(href='https://github.com/hisener/header-parser' target='_blank' role='button') Code
      .col-sm-6.col-md-4
        .thumbnail
          img(src='img/timestamp-api.png')
          .caption
            h4 Timestamp Microservice
            p
              a.btn.btn-primary.btn-sm(href='https://hisener-timestamp-api.herokuapp.com/' target='_blank' role='button') Demo
              a.btn.btn-default.btn-sm(href='https://github.com/hisener/timestamp-api' target='_blank' role='button') Code

  footer#contact
    .container
      h3 Contact
      a.btn.btn-default(href='https://github.com/hisener' target='_blank' role='button' data-toggle='tooltip' title='GitHub')
        i.fa.fa-github
      a.btn.btn-default(href='https://www.freecodecamp.com/hisener' target='_blank' role='button' data-toggle='tooltip' title='freeCodeCamp')
        i.fa.fa-free-code-camp
      a.btn.btn-default(href='https://www.linkedin.com/in/hisener' target='_blank' role='button' data-toggle='tooltip' title='LinkedIn')
        i.fa.fa-linkedin
      a.btn.btn-default(href='https://twitter.com/hi_sener' target='_blank' role='button' data-toggle='tooltip' title='Twitter')
        i.fa.fa-twitter
      a.btn.btn-default(href='mailto:hisener@yahoo.com' target='_blank' role='button' data-toggle='tooltip' title='Email')
        i.fa.fa-envelope-o

block append foot
  link(rel='stylesheet', href='style.css')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
  script(src='main.js')
