body {
  padding-top: 80px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 15px;
}

.container {
  max-width: 960px;
}

.description {
  font-size: 18px;
}

#tech-stack * .label {
  font-size: 14px;
  border-radius: 12px;
  line-height: 32px;
}

#tech-stack * hr {
  margin: 5px 0;
}