extends ../global.layout.pug

block append head
  title Local Weather - Halil Ibrahim Sener

block content
  .container
    h1.text-center Local Weather
    p.text-center
      a(href='https://github.com/hisener/halilsener.com/blob/master/projects/local-weather' target='_blank') (Source on github)
    hr
    .well
      .row
        .col-md-12
          h2.text-center
            span.location
            | &nbsp;
            a.glyphicon.glyphicon-edit(title='Search', data-toggle='collapse', data-target='#collapseGroup' aria-expanded='false' aria-controls='collapseGroup')
      .row
        .col-md-6.col-md-offset-3
          .collapse#collapseGroup
            .input-group
              input.new-location.form-control(type='text', placeholder='London, UK')
              span.input-group-btn
                button.search.btn.btn-default(type='button') Go!
      .row
        .col-md-12
          h3.text-center
            span.temp
            | &nbsp;
            a.toggleUnit(href='#', data-unit='celsius') °C
          .tempDesc.text-center
    hr
    p
      | powered by
      |
      a(href='https://openweathermap.org/api' target='_blank') OpenWeatherMap API
      |  &
      |
      a(href='https://geoip.nekudo.com/' target='_blank') Nekudo GeoIP
      a.pull-right(href='http://halilsener.com/') halilsener.com

block append foot
  link(rel='stylesheet', href='style.css')
  script(src='main.js')
