.blog {
    .home-template & {
        margin-top: 100px;
    }
    .newer-posts {
        float: left;
        font-size: 0.8em;
        @media(max-width: 768px) {
            display: block;
            float: none;
            margin-bottom: 20px;
        }
    }
    .older-posts {
        float: right;
        font-size: 0.8em;
        @media(max-width: 768px) {
            display: block;
            float: none;
            margin-top: 20px;
        }
    }
    .separator {
        height: 2px;
        background: #4d71b7;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        display: block;
        background: linear-gradient(to right, #e52f45 0%, #e52f45 25%, #b42b3e 25%, #b42b3e 50%, $default 50%, $default 75%, #4d71b7 75%, #4d71b7 100%);
    }

    .post {
        .post-title {
            color: $active;
            font-size: 2.6em;
            font-weight: 700;
            margin-bottom: 1.5 * $vpadding;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
    }
    .posts {
        .post-title {
            font-size: 1.5em;
            font-weight: 700;
            color: $default;
            margin-bottom: 5px;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
        .post {
            margin-bottom: 40px;
        }
        .post-excerpt {
            margin-top: 20px;
        }
        .text-right a {
            font-size: 1.25em;
            font-weight: 700;
        }
    }
    article.main-post {
        img {
            max-width: 100%;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $default;
        }
        blockquote {
            border-left-color: $active;
        }
    }
    .post-meta {
        .author-avatar img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: -20px;
            border: 3px solid white;
        }
        .tags {
            @media (max-width: 991px) {
                text-align: left;
            }
        }
        .tags li {
            font-size: 0.8em;
            margin: 5px 5px;
            border: 2px solid $default;
            text-align: center;
            border-radius: 100px / 100px;
            a {
                color: $active;
                display: block;
                width: auto;
                height: 30px;
                line-height: 27px;
                padding: 2px 20px;
            }
            a:hover,
            a:active {
                text-decoration: none;
            }
            &:hover {
                background: $default;
            }
            &.draft-tag {
                border-color: $active;
                a {
                    color: $active;
                }
                &:hover {
                    background: $active;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.tags-collection {
    .tag-title {
        color: $active;
    }
    .tag-meta {
        margin-bottom: 50px;
    }
}

.blog-section {
    .header {
        margin-bottom: 25px;
    }

    .text-right {
        @media(max-width: $desktop-width) {
            text-align: left;
        }
    }
}

.navigate-link:active,
.navigate-link:focus,
.navigate-link {
    font-size: 22px;
    font-weight: bold;
    color: $default;
    margin-bottom: 5px;
}

.navigate-desc {
    margin-top: $vpadding;
}

.drafts-description {
    margin-bottom: $vpadding * 2;
}

.blog-header {
    display: block;
    margin-bottom: $vpadding * 4;
}

.blog-header__link {
    font-size: 1.5em;
    height: auto;
    padding: 10px 15px;
    float: left;

    @media(max-width: 1200px) {
        height: 150px;
    }
    @media(max-width: 768px) {
        float: none;
    }
}

.blog-header__img {
    width: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-right: 25px;
    @media(max-width: 768px) {
        margin: 0 auto;
    }
}

.anchor {
    color: white;
    fill: currentColor;
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7D8B99;
}

.token.punctuation {
    color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
    opacity: .7;
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
    color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
    left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
pre[data-line] code {
    position: relative;
    padding-left: 4em;
}
pre .line-highlight {
    margin-top: 0;
}
