/**
* COLORS mostly from http://materialcolors.com/
*/

$darkpurple: #2e2242;
$darkerpurple: #170f24;
$lightpurple: #766592;
$purple: #5E70A6;

// Url colors
$default: #18bc9c;
$active: #2c3e50;

$blue: #3B4B7D;
$vpadding: 20px;
